@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Site made by Maciej Nowowiejski</p>
<p>This is project done for education puposers</p>
<p>Link to Git Repo :<a href="https://github.com/Goldin190/Gifter"> Gifter Repo </a></p>
