@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Site made by Maciej Nowowiejski</p>
<p>This is project done for education puposers</p>
<p>Link to Git Repo :<a href="https://github.com/Goldin190/Gifter"> Gifter Repo </a></p>
<p>
    Application made with :
    <p><a href="https://www.postgresql.org/">PosgreSql</a></p>
    <p><a href="https://docs.microsoft.com/pl-pl/aspnet/mvc/overview/getting-started/introduction/getting-started">ASP.NET MVC 5</a></p>
    <p><a href="https://visualstudio.microsoft.com/pl/vs/">Visual Studio 2019</a></p>
</p>
