@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maciej Nowowiejski<br />
    Student Year 2 on OWSIIZ<br />
    <strong>Contact :</strong> <a href="mailto:nowowiejski.maciek@gmail.com">nowowiejski.maciek@gmail.com</a>
</address>