@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/HomeIndex.css")
<div class="container-fluid container-buttons">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="welcome-container col-lg-8"><h1 class="bigWords">Welcome @ViewBag.Username</h1></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2 short"></div>
        <a href="\Persons\" class="btn btn-info col-lg-4"><span>Your People</span></a>
        <a href="#" class="btn btn-info col-lg-4"><span>Your Schelude</span></a>
        <div class="col-lg-4 short"></div>
        <a href="Manage\" class="btn btn-secondary col-lg-4"><span>Your Account</span></a>
        <div class="col-lg-4"></div>
    </div>
</div>
    